@import "../../style/variables";

.content,
.darkContent {
  display: none;
  position: fixed;
  top: 84px;
  left: 0;
  width: 30%;
  height: 100%;
  background-color: $white;
  box-shadow: 0 0 14px -0 $purple-shadow;
  transition: all 1000ms ease;
  z-index: 10;
  .closeIcon {
    content: "X";
    position: absolute;
    top: 4%;
    left: 96%;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    border-radius: 100%;
    box-shadow: 0 0 14px -0 $purple-shadow;
    background-color: $white;
    transition: transform 0.3s ease;
    cursor: pointer;
  }
  .closeIcon:hover {
    transform: matrix(0, 1, 1, 0, 0, 0);
  }
}

.darkContent {
  background-color: $bg-dark;
  box-shadow: 0 0 14px -0 $purple-shadow;
  .closeIcon {
    color: $white;
    background-color: $bg-dark;
    box-shadow: 0 0 14px -0 $purple;
  }
}

.filters {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.flag,
.darkFlag,
.avatar,
.darkAvatar {
  position: fixed;
  top: 170px;
  left: 12px;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  border: 2px solid $grey-light;

  cursor: pointer;
  z-index: 10;
  background: url("../../assets/images/filter.png") no-repeat center;
  padding: 0;
  &::before {
    transition: left 0.3s ease, opacity 0.3s ease;
    opacity: 0;
  }
  &::before {
    content: "Filters";
    position: absolute;
    top: 50%;
    left: 100%;
    width: 80px;
    height: 40px;
    transform: translateY(-50%);
    padding: 6px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white;
    background-color: $bg-dark;
    z-index: -1;
    border-radius: 6px;
  }
  &:hover {
    &::before {
      left: calc(100% + 10px);
      opacity: 1;
    }
  }
}

.avatar,
.darkAvatar {
  top: 110px;
  font-size: 14px;
  font-weight: 600;
  color: $black-light;
  border-radius: 100%;
  background: none;
  &::before {
    content: attr(data-content);
    min-width: 80px;
    width: fit-content;
  }
}

.darkFlag {
  border: 1px solid $white;
  background: url("../../assets/images/filter-dark.png") no-repeat center;
  &::before {
    border: 1px solid $white;
  }
}
.darkAvatar {
  border: 1px solid $white;
  &::before {
    border: 1px solid $white;
  }
}

@media (max-width: 991.98px) {
  .content,
  .darkContent {
    width: 40%;
  }
}

@media (max-width: 550.98px) {
  .flag,
  .darkFlag,
  .avatar,
  .darkAvatar {
    top: 100px;
    left: 452px;
    background-color: $white;
    &::before {
      top: -1000%;
    }
  }

  .avatar,
  .darkAvatar {
    top: 100px;
    left: 402px;
  }
  .darkFlag,
  .darkAvatar {
    background-color: $bg-dark;
  }
}
