$purple: purple;
$purple-font: #7f265bd2;

$purple-hover: rgba(88, 9, 88, 0.4);
$purple-shadow: rgba(127, 38, 91, 0.4);

$grey-light: #ddd;
$grey-dark: #888;

$white: #fff;
$black: #000;
$black-light: #000000a9;


$bg-main:  rgba(255, 255, 255, 0.9);
$bg-form:  rgba(255, 255, 255, 0.5);
$bg-dark: #1a202c;

$star-yellow: #f2f532;
$error-red: rgba(160, 10, 10, 0.801);
$green: rgb(0, 128, 0);

$bg-skeleton-item: #cacaca71;
$bg-skeleton-loader: #e3e3e31f
