@import "../../style/variables";

.content {
  position: relative;
  min-height: 85vh;
  min-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 40px;
  margin: 120px 0 40px;
  overflow: auto;
  a {
    color: $purple;
    text-decoration: none;
  }
}

.addPost {
  width: 100%;
  display: flex;
  justify-content: center;
}
